{% load static %}
<html>
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h1 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
{% include 'admin/psectionnavbar.html' %}
<br><br><br><br><br>
<body class="bg-dark">
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title">Pending Existing Proctor List</h1>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>
          <th>SL NO</th>
          <th>Full Name</th>
          <th>Photo</th>
          <th>Contact</th>
          <th>Designation</th>
          <th>Max. Qualifications</th>
          <th>Stream</th>
          <th>ID Proof</th>
          <th>ID No</th>
          <th>Actions</th>
        </tr>
      </thead>
      {% for t in proctors %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{t.Full_Name}}</td>
        <td><img src="{{ t.Upload_Passport_Size_Photo.url }}" alt="Profile Pic" height="50px" width="50px"/></td>
        <td>{{t.Contact_No}}</td>
        <td>{{t.Designation}}</td>
        <td>{{t.Max_Qualification}}</td>
        <td>{{t.Stream}}</td>
        <td>{{t.ID_PROOF}}</td>
        <td>{{t.ID_NO}}</td>
        <td><a class="btn btn-success btn-xs" style="border-radius: 0%;" href="{% url 'qualified_proctorlist' %}"><span class="glyphicon glyphicon-ok"></span></a>
        <a class="btn btn-danger btn-xs" style="border-radius: 0%;" href="{% url 'rejected_proctorlist' %}"><span class="glyphicon glyphicon-remove"></span></a>
      </td>
      </tr>
     {% endfor %}
    </table>
  </div>
</div>
</body>
</html>
