<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  {% include 'admin/esectionnavbar.html' %}
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <body class="bg-dark">
    <br><br><br><br><br>
    <div class="container bg-white">
      <h1 class="text-center">Exam Name</h1>
      <h2 class="text-center">Subject Name-Year</h2>
      <br><br><br>
      <center>
          <div class="col-md-8">
              <div class="tab-content profile-tab" id="myTabContent">
                  <div class="" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <table class="table table-hover table-bordered">
                              <thead>
                                <tr>
                                  <th>SL NO</th>
                                  <th>Qualification</th>
                                  <th>Date of Exam</th>
                                  <th>Time</th>
                                  <th>Duration</th>
                                  <th>Total Marks</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>X</td>
                                  <td>XX</td>
                                  <td>XXX</td>
                                  <td>XXX</td>
                                  <td>XXXX</td>
                                </tr>
                            </tbody>
                          </table>
                          <br><br><br>
                 </div>
               </div>
             </center>
        </div>
   </body>
</html>
