<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style>
.logout_btn {
      padding: 10px;
      background: #ef5350;
      text-decoration: none;
      float: right;
      margin-right: -3px;
      border-radius: 2px;
      font-size: 15px;
      font-weight: 500;
      color: #fff;
      transition: 0.5s;
    }
</style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
  <!-- <br><br> -->
    <body>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-primary">
          <a href="resultsectionbase"><i class="fa fa-home text-dark" style="font-size:36px"></i></a>
            <a style="color:white;" class="navbar-brand"><i class=""></i>&nbsp;<font face = "Comic sans MS" size ="4">{{request.user.first_name}}</font></a>
            <div class="navbar-collapse text-center">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item " style="margin-right: 100px;">
                        <a class="nav-link logout_btn" style="color: white;" href="admin_login">Logout<i class="logout_btn"></i></a>
                   </li>
              </ul>
           </div>
       </nav>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </body>
</html>
