
{%load static%}
<html>
<head>
<title>Exam</title>
</head>
<style media="screen">
.form-select{
margin-top: -2px;
width:300px;
height: 34px;
}

input[name]{
margin-top: -2px;
}
body{
font-size: 16px;
}
h5{
font-size: 20px;
border-bottom: 2px solid orange;
}
</style>
<!---<script>
function checkpass()
{
if(document.signup.cnpwd.value!=document.signup.cpwd.value)
{
alert('Password and Repeat Password field does not match');
document.signup.cnpwd.focus();
return false;
}
return true;
}
</script>---->
<script type="text/javascript">
function myChangeFunction(input1)
{
var input2 = document.getElementById('myInput2');
input2.value = input1.value;
}

function formValidation()
{
var sadmin = document.form1.sadmin;
var mno = document.form1.mno;
var emailid = document.form1.emailid;
var address = document.form1.address;
/*var pwd = document.form1.pwd;*/

if(allLetter(sadmin))
{
if(allnumeric(mno))
{
if(ValidateEmail(emailid))
{
if(alphanumeric(address))
{
if(pass_validation(pwd))
{
}
}
}
}
}
return false;
}

function allLetter(sadmin)
{
var letters = /^[a-zA-Z][a-zA-Z ]*$/;
if(sadmin.value.match(letters))
{
return true;
}
else
{
alert('Name must have alphabet characters and space only');
sadmin.focus();
return false;
}
}

function allnumeric(mno)
{
var numbers = /^[6-9]\d{9}$/;
if(mno.value.match(numbers))
{
return true;
}
else
{
alert('Please enter Indian 10 digits number only');
mno.focus();
return false;
}
}

function ValidateEmail(emailid)
{
var mailformat = /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/;
if(emailid.value.match(mailformat))
{
return true;
}
else
{
alert("You have entered an invalid email address!");
emailid.focus();
return false;
}
}

function alphanumeric(address)
{
var letters = /^[a-zA-Z0-9\s,.'-]{3,}$/;
if(address.value.match(letters))
{
return true;
}
else
{
alert('User address must have alphanumeric characters only');
address.focus();
return false;
}
}

/*function pass_validation(pwd)
{
var pawd = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
if(pwd.value.match(pawd))
{
return true;
}
else
{
alert('A Password Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters');
pwd.focus();
return false;
}
}*/

</script>
<body class="bg-dark">
    {% include 'admin/adminnavbar.html' %}
<br><br>
<div class="card shadow m-5">
<div class="card-body">

<center><h2 class="text-dark">Sub-Admin Registration</h2></center>
<form method="post" class="text-dark" name="form1" onsubmit="return formValidation();">
{% csrf_token %}
<div class="container-fluid">
<div class="col-sm-3">
<label>Name of the Sub-Admin</label>
<input type="text" name="sadmin" placeholder="Enter Name of the Sub-Admin"  class="form-control">
</div>
<h5 class="text-success">Personal Details</h5>
<div class="form-row">
<div class="col-sm-3">
    <div class="form-group">
        <label>Mobile Number</label>
        <input type="text" name="mno" placeholder="Enter Contact Number" maxlength="10" class="form-control">
    </div>
</div>

<div class="col-sm-3">
    <div class="form-group">
        <label>Email Id</label>
        <input type="text" id="myInput1" onchange="myChangeFunction(this)" name="emailid" placeholder="Enter Email Id" class="form-control">
    </div>
</div>

<div class="col-sm-3">
    <div class="form-group">
        <label>Address</label>
        <input type="text" name="address" placeholder="Enter Address"   class="form-control">
    </div>
</div>

<div class="col-sm-3">
    <div class="form-group">
        <label >Department/Section</label>
        <br>
        <select class="form-select" name="deptsec" aria-label="Default select example ">
        <option>select</option>
        <option value="Proctor Section">Proctor Section</option>
        <option value="Candidate Section">Candidate Section</option>
        <option value="Exam Section">Exam Section</option>
        <option value="Result Section">Result Section</option>
        </select>
    </div>
</div>

</div>
<h5 class="text-success">User Login Details</h5>
<div class="form-row">
  <div class="col-sm-3">
    <div class="form-group">
        <label>Login ID</label>
        <input type="text" id="myInput2" name="loginid" placeholder="Enter Login ID" class="form-control" readonly>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="pwd" placeholder="Enter Password" class="form-control" >
    </div>
  </div>
</div>
<input type="submit" name="submit" class="btn btn-primary mt-2" style="margin-top: 24px;" value="CREATE">
<input type="reset" class="btn btn-danger mt-2" style="margin-top: 24px;" value="CLEAR">
<!--<a href="proctorclick"><input type="url" value="Sign Up" class="m-2 px-3 btn btn-success"></a>-->
</div>
</form>
</div>
</div>
</div>
</body>
</html>
