{% extends 'navbar.html' %}
{% block content %}
<html>
	<link href="static/css/about.css" rel="stylesheet">
<style media="screen">
body{
  font-family: sans-serif;
}
/*********************c_service****************/
.c_service_m{
 background:#000c;
 padding-top:60px;
 padding-bottom:290px;
  }
.c_service_1 ul li{
 display:inline-block;
 padding-left:10px;
 padding-right:10px;
 color:#ccc;
   }
.c_service_1 ul li i{
  color:#fc0;
  margin-right:5px;
  vertical-align:middle;
  }
 .c_service_1 ul li a{
   color:#fff;
   }
.c_service{
  background-image: url('/static/image/about.png');
  background-position: initial;
   }
.c_service{
 margin-top:50px;
  }
  /*********************c_service_end****************/

/*********************example_h_1_start****************/
  .example_h_1l span i{
    font-size:40px;
    color:#000;
    }
  .example_h_1l{
   border:1px solid #ddd;
   padding:20px 10px 25px 10px;
   background:#fff;
    }
  .example_h_1l hr{
  border-width:3px;
  border-color:#fc0;
  width:15%;
   }
  .example_h_1{
   margin-top:20px;
    }

  /*********************example_h_1_end****************/
  img{
   margin-top: 10px;
    }
  #book
  {
    margin-top: -11px;
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
        background: #fc0!important;
      }
</style>
<body>

<section id="center" class="c_service">
 <div class="c_service_m clearfix">
  <div class="container">
  <div class="row">
   <div class="col-sm-12">
    <div class="c_service_1 clearfix">
	  <ul>
	   <li><a href="index">Home</a></li>
	   <li><i class="fa fa-graduation-cap"></i> About Us</li>
	  </ul>
	</div>
   </div>
  </div>
 </div>
 </div>
</section>

<section id="timeline">
	<div class="container">
	 <div class="row">
	  <div class="timeline_1 clearfix">
	   <div class="col-sm-6">
		<div class="timeline_1l clearfix">
		 <img src="static/image/exam.jpg" class="iw" alt="abc">
		</div>
	   </div>
	   <div class="col-sm-6">
		 <div class="timeline_1r clearfix">
		   <ul class="nav nav-tabs">
				 <li class="active"><a data-toggle="tab" href="#home">Approach </a></li>
				 <li class=""><a data-toggle="tab" href="#menu1">Our Vision </a></li>
				 <li class=""><a data-toggle="tab" href="#menu2">Our Students </a></li>
			 </ul>

		   <div class="tab-content clearfix">
				 <div id="home" class="tab-pane fade  active in clearfix">
					<div class="click clearfix">
					   <div class="home_inner clearfix">
						 <p> Online Exam Software is the best solution for every educational centre to adapt.<br><br>
                Online Exam is an innovative online exam system or robust Online Test Software that includes a large combo of software applications for web-based exam software, computer-based test, centre-based exam, online assessment software, and many more.<br><br> Our online software provides a protected and stable stage for examiners to make and arrange various types of tests/exams for Educational/Coaching Institutions, Corporate, Government, coaching centers, and other leading organizations.</p>
						 <!--<ul>
						  <li><i class="fa fa-circle"></i> Lorem ipsum dolor sit amet</li>
						  <li><i class="fa fa-circle"></i>  Consectetur adipiscing elit</li>
						  <li><i class="fa fa-circle"></i>  Integer nec odio</li>
						  <li><i class="fa fa-circle"></i>  Education Programs</li>
						 </ul>------>
						 <div class="detail_home_right clearfix">
						</div>
					   </div>
				  </div>
				 </div>
				 <div id="menu1" class="tab-pane fade clearfix">
					<div class="click clearfix">
					   <div class="home_inner clearfix">
						 <p class="bold"> Scope and Objective of Online Examination Technological advancements in this era of digitization along with being a boon to the world have been advantageous to the educational sector too. The introduction of online exam software replaced the conventional system of assessment.</p>
						 <ul>
						  <li><i class="fa fa-circle"></i> Environmentally friendly.</li>
						  <li><i class="fa fa-circle"></i>  Saves time, big time. ...</li>
						  <li><i class="fa fa-circle"></i>  Saves you money. Online examinations also save you money in so many ways. ...</li>
						  <li><i class="fa fa-circle"></i>  It's convenient.</li>
						 </ul>
						 <div class="detail_home_right clearfix">
						</div>
					   </div>
				  </div>
				 </div>
				 <div id="menu2" class="tab-pane fade  clearfix">
					<div class="click clearfix">
					   <div class="home_inner clearfix">
						 <p>Online exams software is a computer program that gauge the knowledge of test takers in a specific subject through conducting online tests.</p>
						 <p class="bold">The objectives of online examination system or rather any other exam (purpose of online examination system) is to make sure that the student is thoroughly ware of the course curriculum.</p>
						 <ul>
						  <li><i class="fa fa-circle"></i> To test the subject knowledge of the students</li>
						  <li><i class="fa fa-circle"></i> Security of Examination Paper</li>
						  <li><i class="fa fa-circle"></i> Quick Result Processing</li>
						  <li><i class="fa fa-circle"></i> Reduced Logistical Costs</li>
						 </ul>
             <p>Outlines knowledge and skills that the industry has deemed important for candidates to be successful on the job.</p>
						 <div class="detail_home_right clearfix">
						</div>
					   </div>
				  </div>
				 </div>
			   </div>
		 </div>
	   </div>
	  </div>
	 </div>
	</div>
   </section>
<br><br>

<section id="example_h">
	<div class="container">
	 <div class="row">
	  <div class="team_top_1 text-center clearfix">
	   <h2 class="h_bg_1 mgt_l">All our Services</h2>
	   <!--<p>For Best  Properly</p>--->
	  </div>
		 <div class="example_h_1 clearfix">
		<div class="col-sm-4">
		 <div class="example_h_1l text-center clearfix">
		  <span><i class="fa fa-shield"></i></span>
		  <h3>Secured platform</h3>
		  <hr>
		  <p> Online Exam comes with an incremental backup of data and information regular based. Our site is hosted in 24/7,
			high-security pc servers that are hosted in a safe location.
			Online Exam, we carry your privacy and data seriously.</p>
		  <h4><a href="#" class="button">Learn More</a></h4>
		 </div>
		</div>
		<div class="col-sm-4">
		 <div class="example_h_1l text-center clearfix">
		  <span><i class="fa fa-users"></i></span>
		  <h3>User Friendly</h3>
		  <hr>
		  <p> Online Exam website design and the user interface is excellent and responsive.
			So, our online exam website can support all web browser and all computer system
			when it comes to create, conduct and analyze the tests.</p>
		  <h4><a href="#" class="button">Learn More</a></h4>
		 </div>
		</div>
		<div class="col-sm-4">
		 <div class="example_h_1l text-center clearfix">
		  <span><i class="fa fa-cogs"></i></span>
		  <h3>Fully Customizable</h3>
		  <hr>
		  <p> Every school or coaching institute has a different number of students and examiner.
			All the admins have different requirements for this software. So, Online Exam provides customized software as per client requirement.</p>
		  <h4><a href="#" class="button">Learn More</a></h4>
		 </div>
		</div>
		 </div>
		 <div class="example_h_1 clearfix">
		<div class="col-sm-4">
		 <div class="example_h_1l text-center clearfix">
		  <span><i class="fa fa-"></i></span>
		  <h3>Interactive Interface</h3>
		  <hr>
		  <p> Easy registration, click away tricks, and simple test creation. Signing in and concurring. Safe data encrypted information.</p>
		  <h4><a href="#" class="button">Learn More</a></h4>
		 </div>
		</div>
		<div class="col-sm-4">
		 <div class="example_h_1l text-center clearfix">
		  <span><i class="fa fa-support"></i></span>
		  <h3>Exception Support</h3>
		  <hr>
		  <p> We offer exceptional support to your request. Our dedicated professionals work round the clock to work on your queries.</p>
		  <h4><a href="#" class="button">Learn More</a></h4>
		 </div>
		</div>
		<div class="col-sm-4">
		 <div class="example_h_1l text-center clearfix">
		  <span><i class="fa fa-pencil-square-o"></i></span>
		  <h3>Dynamic Accessibility</h3>
		  <hr>
		  <p> Anywhere and anytime practice of online examination system. Design and assign tests from anywhere and anytime.
			Error-free synchronized performance.</p>
		  <h4><a href="#" class="button">Learn More</a></h4>
		 </div>
		</div>
		 </div>
		</div>
	  </div>
   </section>

<br><br>

<section id="skill_page">
 <div class="container">
  <div class="row">
   <div class="skill_page_1 clearfix">
     <h2 class="h_bg mgt_l">How it Works </h2>
   </div>
   <div class="skill_page_2 clearfix">
    <div class="col-sm-2">
	 <div class="skill_page_2i text-center">
	  <span>1</span>
	 </div>
	</div>
	<div class="col-sm-10">
	 <div class="skill_page_2i">
	  <h3 class="bold"> Our Task</h3>
	  <hr>
	  <p> It’s easy to get started with our online examination system. First, you are able to register your account. In this introduction, you can write what participants can expect from your exam. </p>
	 </div>
	</div>
   </div>
   <div class="skill_page_2 clearfix">
	<div class="col-sm-10">
	 <div class="skill_page_2i">
	  <h3 class="bold"> Task Partition</h3>
	  <hr>
	  <p> After that, you can add questions (like multiple-choice questions, multiple choices with multiple answers, objective, etc). You can decide the start date and the end date (including hours) for your participants to have access to the exam.</p>
	 </div>
	</div>
	<div class="col-sm-2">
	 <div class="skill_page_2ii text-center">
	   <span>2</span>
	 </div>
	</div>
   </div>
   <div class="skill_page_2 clearfix">
    <div class="col-sm-2">
	 <div class="skill_page_2i text-center">
	   <span>3</span>
	 </div>
	</div>
	<div class="col-sm-10">
	 <div class="skill_page_2i">
	  <h3 class="bold"> Conduct Exam</h3>
	  <hr>
	  <p> After you’ve created the exam, it gives you the chance to put it online. By sharing the URL, participants are able to click on the link that will lead them to the exam.</p>
	 </div>
	</div>
   </div>
   <div class="skill_page_2 clearfix">
	<div class="col-sm-10">
	 <div class="skill_page_2i">
	  <h3 class="bold"> Evaluate and track progress</h3>
	  <hr>
	  <p> After participants made the exam, the creator is able to view the progress of the participants. You’re able to view the statistics per user or get an overall view of the performance of the group.</p>
	 </div>
	</div>
	<div class="col-sm-2">
	 <div class="skill_page_2ii text-center">
	   <span>4</span>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>
</body>
</html>
{% endblock content %}
